[Unit]

Description=Automatická regulace ventilátoru podle CPU teploty

After=network.target


[Service]

ExecStart=/usr/bin/python3 /usr/local/bin/fan_control.py

Restart=always

User=root


[Install]

WantedBy=multi-user.target

