[Unit]
Description=Hardware Power Management & Safe Shutdown
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/local/bin/pwr_butt.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target
